        <!--Form handling-->
        <form action ="api/food" method ="POST" id="add_record">

            <div class="new_user">
                <div class="form-group">
                    <label for="food_name" class="text-light">Name of the Food</label>
                    <input type="hidden" name="id" value = "">
                    <input type="text" name="food_name" value= "" placeholder= "Pizza" >
                </div>

                <div class="form-group">
                    <label for="food_weight" class="text-light">Food Weight Consumed</label>
                    <input type="number" name="food_weight" value= "" placeholder= "100" >
                </div>

                <div class="form-group">
                    <label for="calories_hundred" class="text-light">Calories per 100g</label>
                    <input type="number" name="calories_hundred" value= "" placeholder= "100" >
                </div>



                <div class="form-group">
                    <button type="submit" class="btn text-dark update"> Save</button>
                </div>
            </div>
        
            

        </form>
         <!--Form handling-->  
