<!--include Header-->
<%- include('include/_food_header') %>
<!--/include header-->


    <!--Main Site -->
    <main id = "site-main">
        <div class = 'container'>
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/food-home"><i class="fas fa-angle-double-left"></i> All Records </a>
                </div> 
             
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark" >New Food Record</h2>
            <span class ="text-light"> Use the below form to create a new food record</span>
        </div>

        <%- include('include/_food_form.ejs') %>
       
        </div>
        
    </main>

    <!--/Main Site-->





<!--include footer-->
<%- include('include/_food_footer') %>
<!--/include footer-->
